html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    min-height: 200vh;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu { 
        display: none; 
    }
	.navbar .nav-item:hover .nav-link { 
        color: inherit;  
    }
	.navbar .nav-item:hover .dropdown-menu { 
        display: block; 
    }
	.navbar .nav-item .dropdown-menu { 
        margin-top:0; 
    }
}
@media (max-width: 992px) {
    .bulletin {
        display: none;
    }
    .navbar-default {
        background:#000 !important;
        opacity: 90% !important;
    }
    .dropdownsubtitles {
        display: none;
    }
}
.logo {
    height: 70px;
    width: 80px;
}
.logo:hover {
    height: 80px;
    width: 90px;
    transition: height 0.2s, width 0.2s;
}
.navbar {
    border: 0;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Lato';
}
.navbar li .nav-link, .navbar .navbar-brand {
    font-size: 22px; 
    font-family: 'Lato'; 
    color: white;
    text-shadow: 2px 1px #000000;
}
.navbar-nav li .nav-link:hover, .navbar-nav li.active .nav-link {
    color: #424242;
    font-size: 23px;
    font-weight: 500;
    background-color: #ffba5f;
    transition: color 0.2s, font-size 0.2s, font-weight 0.2s, background-color 0.2s;
}
.navpack {
    font-size: 22px; 
    font-family: 'Lato'; 
    color: white;
    text-shadow: 2px 1px #000000;
}
.dropdown {
    text-align: center;
}
.dropdown-toggle::after { 
    content: none; 
} 
.drop {
    border-radius: 0px;
    border: #f3672e 3px;
    background-color: #0a0a0a;
    opacity: 80%;
    font-family: 'Lato';
    color: #fff;
}
.dropdowntitles {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #f3672e;
}
.dropdownsubtitles {
    font-family: 'Montserrat';
    font-size: 16x;
    color: #fff;
    line-height: 1.42857143;
}
.dropdownsubtitles:hover {
    font-size: 18px;
    background-color: #f3672e;
    color: #fff;
    transition: font-size 0.2s, background-color 0.2s;
}
.navbar-default {
    background:#000 !important;
    opacity: 90% !important;
}
.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#000;
  opacity: 90%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.abouttext {
    font-family: 'Montserrat';
    color: #0a0a0a;
    font-size: 25px;
}
.aboutsubtext {
    font-family: 'Lato';
    font-size: 22px;
    color: #0a0a0a;
    font-weight: 400;
}
.aboutdesctext {
    font-family: 'Montserrat';
    color: #0a0a0a;
    font-size: 30px;
}
.aboutdescsubtext {
    font-family: 'Lato';
    font-size: 25px;
    color: #0a0a0a;
    font-weight: 400;
}
.card-header {
    background-color: transparent;
    border: transparent;
    color: #0a0a0a;
}
.card {
    background-color: transparent;
    border: transparent;
}
.footer {
    background-color: #0a0a0a;
    opacity: 75%;
    font-family: 'Lato';
}
.footerheading {
    font-size: 18px;
    color: #f3672e;
    font-family: 'Montserrat';
}
.footersubheading {
    font-size: 16px;
    color: #f2f3ff;
    font-family: 'Montserrat';
}
.footersubheading2 {
    font-size: 14px;
    color: #f2f3ff;
    font-family: 'Montserrat';
}
.footertext {
    font-size: 12px;
    color: #f2f3ff;
    font-family: 'Montserrat';
}