html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans';
    min-height: 200vh;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu { 
        display: none; 
    }
	.navbar .nav-item:hover .nav-link { 
        color: inherit;  
    }
	.navbar .nav-item:hover .dropdown-menu { 
        display: block; 
    }
	.navbar .nav-item .dropdown-menu { 
        margin-top:0; 
    }
}
@media (max-width: 992px) {
    .bulletin {
        display: none;
    }
    .navbar-default {
        background: #ffffff !important;
        opacity: 90% !important;
    }
    .dropdownsubtitles {
        display: none;
    }
    .pack {
        width: 400px !important;
    }
    .sec {
        width: 400px !important;
    }
}
.logo {
    height: 70px;
    width: 80px;
}
.logo:hover {
    height: 80px;
    width: 90px;
    transition: height 0.2s, width 0.2s;
}
.navbar {
    border: 0;
    line-height: 1.42857143;
    letter-spacing: 2px;
    border-radius: 0;
    font-family: 'Lato';
}
.navbar li .nav-link, .navbar .navbar-brand {
    font-size: 22px; 
    font-family: 'Lato'; 
    color: #0a0a0a;
}
.navbar-nav li .nav-link:hover, .navbar-nav li.active .nav-link {
    color: #424242;
    font-size: 23px;
    font-weight: 500;
    background-color: #ffba5f;
    transition: color 0.2s, font-size 0.2s, font-weight 0.2s, background-color 0.2s;
}
.navpack {
    font-size: 22px; 
    font-family: 'Lato'; 
    color: #0a0a0a;
}
.dropdown {
    text-align: center;
}
.dropdown-toggle::after { 
    content: none; 
}
.navbar-default {
    background: #ffffff !important;
    opacity: 90% !important;
}
.navbar-default{
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled{
    background: #ffffff;;
    opacity: 90%;
}
.drop {
    border-radius: 0px;
    border: #f3672e 3px;
    background-color: #ffffff;
    opacity: 90%;
    font-family: 'Lato';
    color: #0a0a0a;
}
.dropdowntitles {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #f3672e;
}
.dropdownsubtitles {
    font-family: 'Montserrat';
    font-size: 16x;
    color: #0a0a0a;
    line-height: 1.42857143;
}
.dropdownsubtitles:hover {
    font-size: 18px;
    background-color: #f3672e;
    color: #0a0a0a;
    transition: font-size 0.2s, background-color 0.2s;
}
.sec {
    width: 300px;
}
.pack {
    width: 500px;
}
.primaryheader {
    font-size: 30px;
    font-family: 'Lato';
    color: #f3672e;
}
.primaryheader:hover {
    font-size: 35px;
    transition: font-size 0.3s;
}
.primarytext {
    font-size: 25px;
    font-family: 'Lato';
    color: #ffffff;
}
.bulletin {
    height: 30px;
    width: 30px;
}
.bulletin:hover {
    height: 32px;
    width: 32px;
    transition: height 0.3s, width 0.3s;
}
.card-header {
    background-color: transparent;
    border: transparent;
    color: #ffffff;
}
.card {
    background-color: transparent;
    border: transparent;
}
.primaryexpand {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Lato';
    padding: 0px 8px;
}
.primaryexpand:hover {
    background-color: #f3672e;
    outline: #ffffff solid 3px;
    transition: background-color 0.3s, outline 0.3s;
}
.contentheader {
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 25px;
}
.contentheader:hover {
    font-size: 27px;
    text-decoration: none;
    transition: font-size 0.3s;
}
.primaryexpand {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Lato';
    padding: 0px 8px;
}
.primaryexpand:hover {
    background-color: #f3672e;
    outline: #ffffff solid 3px;
    transition: background-color 0.3s, outline 0.3s;
}
.contentheader {
    font-family: 'Lato';
    font-size: 25px;
}
.contentheader:hover {
    font-size: 27px;
    transition: font-size 0.3s;
}
.descheader {
    font-family: 'Open Sans';
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
}
.descsubheader {
    font-family: 'Open Sans';
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
}
.desctext {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}
.desclist {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
}
.listimg {
    height: 90%;
    width: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer {
    background-color: #0a0a0a;
    opacity: 75%;
    font-family: 'Lato';
}
.footerheading {
    font-size: 18px;
    color: #f3672e;
    font-family: 'Montserrat';
}
.footersubheading {
    font-size: 16px;
    color: #f2f3ff;
    font-family: 'Montserrat';
}
.footersubheading2 {
    font-size: 14px;
    color: #f2f3ff;
    font-family: 'Montserrat';
}
.footertext {
    font-size: 12px;
    color: #f2f3ff;
    font-family: 'Montserrat';
}